PROJECT          halld
TRACK            production
OS               general

NCORES           4
DISK             10GB
RAM              8GB
TIMELIMIT        4hrs

WORKFLOW         pi-effic-hdroot
ENVFILE          /work/halld/home/dcbyer/pi-effic/env/gluex_env.sh
SCRIPTFILE       /work/halld/home/dcbyer/pi-effic/job/config-hdroot/script.sh
JANA_CONFIG      /work/halld/home/dcbyer/pi-effic/job/jana/jana-analysis.config
#RCDB_QUERY       ""

INDATA_TOPDIR    /mss/halld/offline_monitoring/RunPeriod-2017-01/ver99/REST/
OUTDIR_LARGE     /volatile/halld/home/dcbyer/pi-effic/trees/RunPeriod-2017-01/
OUTDIR_SMALL     /volatile/halld/home/dcbyer/pi-effic/trees/RunPeriod-2017-01/

