#TODO toggle for mc
#PLUGINS monitoring_hists,danarest,mcthrown_tree,HLDetectorTiming,ReactionFilter
PLUGINS ReactionFilter
NTHREADS 4
# ANALYSIS:KINFIT_CONVERGENCE 0
# MM2CUT:Low_8 -144
# MM2CUT:High_8 144
# MM2CUT:Low_9 -144
# MM2CUT:High_9 144

#TODO toggle for MC
#JANA_CALIB_CONTEXT variation=mc

TRKFIT:HYPOTHESES 2,3,8,9,11,12,14,15

PRESELECT:FCAL_INNER_CUT 0
PRESELECT:MIN_FCAL_R 1000
PRESELECT:MIN_BCAL_Z 1000
#ANALYSIS:STORE_ERROR_MATRIX_INFO 1

FCAL:LOAD_NONLIN_CCDB 0
#FCAL:USE_RING_E_CORRECTION 1
FCAL:SHOWER_POSITION_LOG 1
###FCAL:LOAD_NONLIN_CCDB 0
#FCAL:SHOWER_POSITION_LOG true
ANALYSIS:STORE_SC_VETO_INFO 1

##
Reaction1 1_14__7_8_m9_14
Reaction1:Flags B4_T1_U1_M7
##
Reaction2 1_14__7_m8_9_14
Reaction2:Flags B4_T1_U1_M7

