PROJECT          halld
TRACK            production
OS               general

NCORES           1
DISK             10GB
RAM              2GB
TIMELIMIT        12hrs

WORKFLOW         pi-effic-dselector
ENVFILE          /work/halld/home/dcbyer/pi-effic/job/env/RunPeriod-2021-11.sh
SCRIPTFILE       /work/halld/home/dcbyer/pi-effic/job/config-dselector/script.sh
ROOT_SCRIPT      /work/halld/home/dcbyer/pi-effic/job/config-dselector/Run_Selector.C
TREE_NAME        pi0pimmisspip__B4_T1_U1_M7_Tree
SELECTOR_NAME    /work/halld/home/dcbyer/pi-effic/dselector/DSelector_omega_pi_effic
RCDB_QUERY       "@is_src_production and status!=0"

INDATA_TOPDIR    /volatile/halld/home/dcbyer/pi-effic/trees/RunPeriod-2021-11/tree_pi0pimmisspip__B4_T1_U1_M7/
OUTDIR_LARGE     /volatile/halld/home/dcbyer/pi-effic/dselector/RunPeriod-2021-11/pi0pimmisspip/
OUTDIR_SMALL     /volatile/halld/home/dcbyer/pi-effic/dselector/RunPeriod-2021-11/pi0pimmisspip/

