PROJECT          halld
TRACK            production
OS               general

NCORES           1
DISK             10GB
RAM              2GB
TIMELIMIT        12hrs

WORKFLOW         pi-effic-dselector
ENVFILE          /work/halld/home/dcbyer/pi-effic/job/env/RunPeriod-2017-01.sh
SCRIPTFILE       /work/halld/home/dcbyer/pi-effic/job/config-dselector/script.sh
ROOT_SCRIPT      /work/halld/home/dcbyer/pi-effic/job/config-dselector/Run_Selector.C
TREE_NAME        pi0pimmisspip__B1_T1_U1_M7_Effic_Tree
SELECTOR_NAME    /work/halld/home/dcbyer/pi-effic/dselector/DSelector_omega_pi_effic
#RCDB_QUERY       ""

INDATA_TOPDIR    /volatile/halld/home/dcbyer/pi-effic/trees/RunPeriod-2017-01/tree_pi0pimmisspip__B1_T1_U1_M7_Effic/merged/
OUTDIR_LARGE     /volatile/halld/home/dcbyer/pi-effic/dselector/RunPeriod-2017-01/pi0pimmisspip/
OUTDIR_SMALL     /volatile/halld/home/dcbyer/pi-effic/dselector/RunPeriod-2017-01/pi0pimmisspip/

